[submodule "Nebula"]
	path = Nebula
	url = https://github.com/dowlmic/Nebula.git
[submodule "Nebula-Elasticsearch"]
	path = Nebula-Elasticsearch
	url = https://github.com/dowlmic/Nebula-Elasticsearch.git
[submodule "Cosmos-Omniview"]
	path = Cosmos-Omniview
	url = https://github.com/dowlmic/Cosmos-Omniview.git
