[submodule "Omniview"]
	path = Omniview
	url = https://github.com/DiscoveryAnalyticsCenter/Omniview.git
[submodule "Nebula-Elasticsearch"]
	path = Nebula-Elasticsearch
	url = https://github.com/DiscoveryAnalyticsCenter/Nebula-Elasticsearch.git
